<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929583498730-i85h4rn60ijstrc6arht60pdes50f1hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929583498730-i85h4rn60ijstrc6arht60pdes50f1hs</string>
	<key>API_KEY</key>
	<string>AIzaSyCCj5jgi33djY8Dp0DO8OiDpWJ97rG7uS4</string>
	<key>GCM_SENDER_ID</key>
	<string>929583498730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.Jean.flutterResponsivo</string>
	<key>PROJECT_ID</key>
	<string>curriculoti-c0fb4</string>
	<key>STORAGE_BUCKET</key>
	<string>curriculoti-c0fb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929583498730:ios:b197cbf64d4fdf0d6f1e93</string>
</dict>
</plist>